body {
    background-color: #dddddd;
}

.container {
    max-width: 90%;
    display: flex;
    flex-direction: column;
}

#heading {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-bottom: 2vh;
}

.col-sm {
    padding-right: 0;
    padding-left: 0;
    margin-right: 10px;
    margin-left: 10px;
}

#dimmer {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 50;
    opacity: .9;
}

img:hover {
    -webkit-filter: opacity(75%);
    cursor: pointer;
}

.imgLarge:hover {
    -webkit-filter: none;
    cursor: default;
}

img {
    min-height: 200px;
    -webkit-transition: all 0.5s;
    /*-webkit-filter: opacity(75%);*/
    border: 20px solid white;
    margin-bottom: 10px;
    margin-top: 10px;
    width: inherit;
}

.imgLarge {
    z-index: 100;
    max-width: 80%;
    max-height: 80%;
    height: auto;
    width: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo {
    min-height: 0;
    border: none;
    width: auto;
    margin: 0px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: default;
}